{% extends "base.html" %}

{% block content %}
  <h1>{{ author }}</h1>
  {% if author.authorImage %}
    <img src="{{ author.authorImage.url }}" width="400" alt="Photo of author">
  {% endif %}
  <table class="table table-hover">
    {% if author.books.all %}
    <th>Book</th>
      {% for book in author.books.all %}
        <tr>
          <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
          <td></td>
        </tr>
      {% endfor %}
    {% else %}
      <td>There are no books by this author.</td>
    {% endif %} 
  </table>
{% endblock %}