{% extends "base.html" %}

{% block content %}
  <div>
    <a href="{% url 'authors' %}" style="margin-left: 10px; color: #6c757d;"><i class="fa fa-arrow-left fa-2x"></i></a>
  </div>
  {% if author.authorImage %}
    <img src="{{ author.authorImage.url }}" width="400" alt="Photo of author" class="img-fluid mx-auto d-block">
  {% endif %}
  <h1 class="text-center">{{ author }}</h1>
  <table class="table table-hover">
    {% if author.books.all %}
    <th>Book</th>
      {% for book in author.books.all %}
        <tr>
          <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
          <td></td>
        </tr>
      {% endfor %}
    {% else %}
      <td>There are no books by this author.</td>
    {% endif %} 
  </table>
{% endblock %}