{% extends "base.html" %}

{% block content %}
  <div>
    <a href="{% url 'authors' %}" style="margin-left: 10px; color: #6c757d;"><i class="fa fa-arrow-left fa-2x"></i></a>
  </div>
  <div class="card bg-light mb-5 mx-auto" style="max-width: 28rem;">
    {% if author.authorImage %}
      <img src="{{ author.authorImage.url }}" width="400" alt="Photo of author" class="img-fluid mx-auto d-block">
    {% endif %}
    <div class="card-body">
        <div class="col-lg-12 border-bottom" style="overflow: hidden;">
            <div class="float-right">
                <a href="{% url 'author-update-form' author.id %}"><i class="fa fa-edit fa-2x" style="margin-right: 10px;" aria-hidden="true"></i></a>
                <a href="{% url 'author-delete-form' author.id %}"><i class="fa fa-trash fa-2x" aria-hidden="true" style="color: red"></i></a>
            </div>
        </div>
        <br>
        <h3 class="card-title text-center">{{ author }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <h2>Books by this Author</h2>
    </div>
    <div class="col-lg-7">
      <a class="float-right btn btn-primary" href="{% url 'author-book-create-form' author_pk=author.id %}">+ Add a Book for this Author</a>
    </div>
  </div>
  <table class="table table-hover">
    {% if author.books.all %}
    <th>Title</th>
      {% for book in author.books.all %}
        <tr>
          <td><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></td>
          <td></td>
        </tr>
      {% endfor %}
    {% else %}
      <td>There are no books by this author.</td>
    {% endif %} 
  </table>
{% endblock %}