{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
    <div>
        <a href="{% url 'books' %}" style="margin-left: 10px; color: #6c757d;"><i class="fa fa-arrow-left fa-2x"></i></a>
    </div>
    <div class="card bg-light mb-5 mx-auto" style="max-width: 28rem;">
        {% if book.coverImage %}
            <img class="card-img-top" src="{{ book.coverImage.url }}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <div class="col-lg-12 border-bottom" style="overflow: hidden;">
                <a href="#" class="badge badge-secondary">{{ book.genre }}</a>
                <div class="float-right">
                    <a href="{% url 'book-update-form' book.id %}"><i class="fa fa-edit fa-2x" style="margin-right: 10px;" aria-hidden="true"></i></a>
                    <a href="{% url 'book-delete-form' book.id %}"><i class="fa fa-trash fa-2x" aria-hidden="true" style="color: red"></i></a>
                </div>
            </div>
            <br>
            <h3 class="card-title text-center">{{ book.title }}</h3>
            <p class="card-text"><strong>Author(s):</strong> <a href="#">{{ book.authors.all|join:", " }}</a></p>
            <p class="card-text"><strong>Summary:</strong> {{ book.summary }}</p>
            <p class="card-text"><strong>Language:</strong> {{ book.language }}</p>
        </div>
    </div>
    
    <h2 class="text-center">Inventory by Location</h2>
        <table class="table table-hover mx-auto" style="max-width: 80%">
            <th>Location Name</th>
            <th>City</th>
            <th>State</th>
            <th>Quantity Available</th>
            <th>Actions</th>
            {% for location in book.locations.all %}
                <tr>
                    <td><a href="{% url 'location-detail' location.id %}">{{location.facilityName}}</a></td>
                    <td>{{location.city}}</td>
                    <td>{{location.state}}</td>
                    <td>{% getQuantityAtLocation book location %}</td>
                    <td><a href="{% url 'book-location-update-form' book.id location.id %}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    <a href="#myModal" data-toggle="modal">Contact Us</a>
    <!-- modal form -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalLabel">We'd Love to Hear From You</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- <form id="contactForm" class="form-horizontal col-sm-10 col-sm-offset-1" action="contact_us/" method="post">
                            {% csrf_token %}
                            <div id="contactName" class="form-group"><label>Name</label><input class="form-control required"
                                                                                placeholder="Your name" name='contactName' data-placement="top"
                                                                                data-trigger="manual"
                                                                                data-content="Must be at least 3 characters long, and must only contain letters."
                                                                                type="text"></div>
                            <div id="contactMsg" class="form-group"><label>Message</label><textarea class="form-control"
                                                                                    placeholder="Your message here.."
                                                                                    name="contactMsg" data-placement="top"
                                                                                    data-trigger="manual"></textarea></div>
                            <div id="contactEmail" class="form-group"><label>E-Mail</label><input class="form-control email"
                                                                                placeholder="email@you.com (so that we can contact you)"
                                                                                name="contactEmail" data-placement="top" data-trigger="manual"
                                                                                data-content="Must be a valid e-mail address (user@gmail.com)"
                                                                                type="text"></div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success pull-right">Send It!</button>
                                <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not
                                    valid. </p></div>
                        </form>
                         -->
                        {% include 'book_update_form.html' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}