{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
    {% if book.coverImage %}
        <img src="{{ book.coverImage.url }}" width="400" alt="Photo of book cover">
    {% endif %}
    <h1>Title: {{ book.title }}</h1>
    <p><strong>Author(s):</strong> <a href="">{{ book.authors.all|join:", " }}</a></p>
    <p><strong>Summary:</strong> {{ book.summary }}</p>
    <p><strong>Language:</strong> {{ book.language }}</p>  
    <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>     
  
    <h2>Inventory by Location</h2>
        <table>
            <th>Location Name</th>
            <th>City</th>
            <th>State</th>
            <th>Quantity Available</th>
            {% for location in book.locations.all %}
                <tr>
                    <td>{{location.facilityName}}</td>
                    <td>{{location.city}}</td>
                    <td>{{location.state}}</td>
                    <td>{% getQuantityAtLocation book location %}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}