{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">Locations</h1>
  {% if location_list %}
  <table class="table table-hover">
    <th>Location Name</th>
    <th>City</th>
    <th>State</th>
    {% for location in location_list %}
      <tr>
        <td><a href="{{ location.get_absolute_url }}">{{location.facilityName}}</a></td> 
        <td>{{ location.city }}</td> 
        <td>{{location.state}}</a></td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}