{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
  <div>
    <a href="{% url 'locations' %}" style="margin-left: 10px; color: #6c757d;"><i class="fa fa-arrow-left fa-2x"></i></a>
  </div>
  <div class="card bg-light mb-5 mx-auto" style="max-width: 28rem;">
    {% if location.locationImage %}
      <div>
        <img src="{{ location.locationImage.url }}" alt="location image cap" class="img-fluid mx-auto d-block">
      </div>
    {% endif %}
    <div class="card-body">
        <div class="col-lg-12 border-bottom" style="overflow: hidden;">
            <a href="#" class="badge badge-secondary">{{ book.genre }}</a>
            <div class="float-right">
                <a href="{% url 'location-update-form' location.id %}"><i class="fa fa-edit fa-2x" style="margin-right: 10px;" aria-hidden="true"></i></a>
                <a href="{% url 'location-delete-form' location.id %}"><i class="fa fa-trash fa-2x" aria-hidden="true" style="color: red"></i></a>
            </div>
        </div>
        <br>
        <h3 class="card-title text-center">{{ location.facilityName }}</h3>
        <p class="text-center"><strong>Location: {{location.city}}, {{location.state}}</strong></p>
    </div>
  </div>
  <h2>Inventory</h2>
        <table class="table table-hover">
            <th>Book Title</th>
            <th>Author(s)</th>
            <th>Quantity Available</th>
            <th>Actions</th>
            {% for book in location.books.all %}
              <tr>
                <td><a href="{{ book.get_absolute_url }}">{{ book.title }} </a></td> 
                <td>{{book.authors.all|join:", "}}</td>
                <td>{% getQuantityAtLocation book location %}</td>
                <td><a href="{% url 'book-location-update-form' book.id location.id %}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a></td>
              </tr>
            {% endfor %}
        </table>
{% endblock %}