{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
  <div>
    <a href="{% url 'locations' %}" style="margin-left: 10px; color: #6c757d;"><i class="fa fa-arrow-left fa-2x"></i></a>
  </div>
  {% if location.locationImage %}
    <div>
      <img src="{{ location.locationImage.url }}" alt="location image cap" class="img-fluid mx-auto d-block" style="max-width: 1000px;">
    </div>
  {% endif %}
  <h1 class="text-center">{{ location.facilityName }}</h1>
  <p class="text-center"><strong>Location: {{location.city}}, {{location.state}}</strong></p>
  <h2>Inventory</h2>
        <table class="table table-hover">
            <th>Book Title</th>
            <th>Author(s)</th>
            <th>Quantity Available</th>
            <th>Actions</th>
            {% for book in location.books.all %}
              <tr>
                <td><a href="{{ book.get_absolute_url }}">{{ book.title }} </a></td> 
                <td>{{book.authors.all|join:", "}}</td>
                <td>{% getQuantityAtLocation book location %}</td>
                <td><a href="{% url 'book-location-update-form' book.id location.id %}"><i class="fa fa-edit fa-lg" aria-hidden="true"></i></a></td>
              </tr>
            {% endfor %}
        </table>
{% endblock %}